<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Preguntas Frecuentes</title>
    </head>
    <body>
        <section th:fragment="tabla">
            <table border="1">
                <thead>
                    <tr>
                        <th>Preguntas Frecuentes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>¿Cuáles son los requisitos para obtener una hipoteca en Nueva York?</td>
                        <td>¿Cuáles son los requisitos para obtener una hipoteca en Nueva York?</td>
                        <td>¿Cuáles son los costos asociados con la compra de una vivienda en Nueva York?</td>
                        <td>¿Cuáles son los pasos involucrados en el proceso de compra de una propiedad en Nueva York?</td>
                        <td>¿Qué debo considerar al invertir en propiedades comerciales en Nueva York?</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>